@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg: rgb(246, 249, 255);
  --blocks-bg: rgb(255, 255, 255);
  --target-bg: rgb(65, 84, 241);
  --target-txt: rgb(32, 67, 129);
  --shadows: rgb(215, 222, 236);
  --white-text: rgb(255, 255, 255);
}

*{
  caret-color: transparent;
}
input{
  caret-color: rgb(0, 0, 0);
}